{
    "workbench.startupEditor": "newUntitledFile",
    "python.dataScience.askForKernelRestart": false,
    "diffEditor.ignoreTrimWhitespace": false,
    "editor.wordWrap": "on",
    "git.confirmSync": false,
    "editor.renderWhitespace": "boundary"
}